.orbit-container {
  position: relative;
  width: 250px;
  height: 250px;
  perspective: 1000px;
  transform-style: preserve-3d;
  animation: spin 20s linear infinite;
}

.orbit-item {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform-style: preserve-3d;
}

.orbit-1 {
  transform: rotateY(0deg) translateZ(120px) rotateY(0deg);
}
.orbit-2 {
  transform: rotateY(120deg) translateZ(120px) rotateY(-120deg);
}
.orbit-3 {
  transform: rotateY(240deg) translateZ(120px) rotateY(-240deg);
}

/* .orbit-img {
  width: 90px;
  height: 120px;
  object-fit: contain;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
} */



@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .orbit-container {
    width: 180px;
    height: 180px;
  }
  .orbit-img {
    width: 60px;
    height: 60px;
  }
}
